@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Electrolize&display=swap");

:root {
  --border-radius: 8px;

  --modal-background-color: rgba(0, 0, 0, 0.5);
  --modal-button-background-color: rgba(0, 0, 0, 0.5);
  --button-background-color: rgba(0, 0, 0, 0.5);
  --color: #fff;

  --font: 400 1em "Doto", serif;
}

body {
  margin: 0px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font: var(--font);
  font-optical-sizing: auto;

  color: var(--color);

  background-size: cover;
  background-repeat: no-repeat;

  transition-duration: 500ms;
}

@layer components {
  .stopwatch__wrapper {
    width: 60%;
    border-radius: var(--border-radius);
    background-color: var(--modal-background-color);
    display: flex;
    flex-direction: column;
    padding: 15px;

    & .stopwatch__display {
      font-size: 128px;
      align-self: center;
      margin-bottom: 20px;
    }

    & .stopwatch__controls {
      /* TODO Style :hover */
      display: flex;
      gap: 10px;

      & .stopwatch__button {
        font-size: 42px;
        border-radius: var(--border-radius);
        border: none;
        background-color: var(--modal-button-background-color);
        padding: 10px 5px;

        line-height: 100%;

        &:nth-last-child(2) {
          margin-left: auto;
        }

        &.active {
          outline: solid 4px #40a3eb;
        }
      }
    }
  }

  footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .footer__button {
      font-size: 42px;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      border: none;
      background-color: var(--button-background-color);
      padding: 10px 5px;

      line-height: 100%;
    }
  }
}
